[Unit]
Description=homer - simple homepage generator
Documentation=https://github.com/bastienwirtz/homer

[Container]
Image=docker.io/b4bz/homer:latest
AutoUpdate=registry
Volume= /srv/containers/homer:/www/assets:Z
PublishPort=8885:8080

[Service]
Restart=always

[Install]
WantedBy=default.target multi-user.target
